<?xml version="1.0"?>
<!-- @file orion.urdf.xacro
     @brief Top-level robot description for ORION. Declares all configurable
     arguments (camera, servo, rasp, motor, ctl_type, color, etc.) and includes
     the modular xacro files for materials, macros, base, arms, cameras,
     and ros2_control tags. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="orion">

    <!-- Configurable arguments. Defaults allow standalone xacro processing
         (e.g. `xacro orion.urdf.xacro`) without requiring every value to be
         passed from a launch file. -->
    <xacro:arg name="camera" default="os30a"/>
    <xacro:arg name="servo" default="true"/>
    <xacro:arg name="g_mov" default="false"/>
    <xacro:arg name="rasp" default="rpi5"/>
    <xacro:arg name="gazebo" default="false"/>
    <xacro:arg name="ros2_control" default="false"/>
    <xacro:arg name="simplified" default="false"/>
    <xacro:arg name="motor" default="100"/>
    <xacro:arg name="ctl_type" default="micro_ros"/>
    <xacro:arg name="color" default="gold"/>

    <xacro:property name="camera" default="$(arg camera)"/>
    <xacro:property name="servo" default="$(arg servo)"/>
    <xacro:property name="g_mov" default="$(arg g_mov)"/>
    <xacro:property name="rasp" default="$(arg rasp)"/>
    <xacro:property name="gazebo" default="$(arg gazebo)"/>
    <xacro:property name="ros2_control" default="$(arg ros2_control)"/>
    <xacro:property name="simplified" default="$(arg simplified)"/>
    <xacro:property name="motor" default="$(arg motor)"/>
    <xacro:property name="ctl_type" default="$(arg ctl_type)"/>

    <!-- Visual color for structural panels: 'mdf', 'transparent', 'pla', 'gold' -->
    <xacro:property name="color" default="$(arg color)"/>

    <!-- Include other files -->
    <xacro:include filename="$(find orion_description)/urdf/include/orion_materials.urdf.xacro"/>
    <xacro:include filename="$(find orion_description)/urdf/include/orion_macros.urdf.xacro"/>
    <xacro:include filename="$(find orion_description)/urdf/include/orion_base.urdf.xacro"/>
    <xacro:include filename="$(find orion_description)/urdf/include/orion_arms.urdf.xacro"/>
    <xacro:include filename="$(find orion_description)/urdf/include/orion_cameras.urdf.xacro"/>
    <xacro:include filename="$(find orion_description)/urdf/include/orion_ros2_control.urdf.xacro"/>

</robot>
